
$break-small: 375px;

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,500,700&display=swap');


body {
    background: linear-gradient(to right, #171717,#201E2C, #2F3648);
    
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;

}

a {
    color: #fff;
}

 @media screen and (max-width: $break-small) {


    .slider {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 300vh;
        background: linear-gradient(to right, #171717,#201E2C, #2F3648);
        z-index:-1;
    }
    

.anna_brief {
    &__head {
        font-size: 50px !important;
        font-weight: 300;
        margin-top: 15px !important;
        margin-left: -13px ;
    }

    &__body {
        font-size: 15px !important;
        line-height: 22px;
        letter-spacing: 1.5px;
        width: 100% !important;
        position: relative;
        padding-left: 40px;

        &:before {
            content: "";
            width: 4px;
            height: 100%;
            background: #fff;
            position: absolute;
            left: 0;
            top: 0;
            background: #f280b6;
            /* Old browsers */
            background: -moz-linear-gradient(-45deg, #f280b6 7%, #f280b6 7%, #3e97c4 50%, #896bbc 89%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(-45deg, #f280b6 7%, #f280b6 7%, #3e97c4 50%, #896bbc 89%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(135deg, #f280b6 7%, #f280b6 7%, #3e97c4 50%, #896bbc 89%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f280b6', endColorstr='#896bbc', GradientType=1);
            /* IE6-9 fallback on horizontal gradient */



        }
    }
}

}
.site_container {
    display: flex;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 40px;
    flex-flow: row wrap;
    height: 100vh;
    justify-content: space-between;
    position: relative;
}


.site_container  > * {
    flex: 1 100%;
}

.main_header {
    margin-top: 70px;
	
}

.main_nav {

    display: flex;
    flex: 0 0 100%;
    flex-flow: row wrap;
    justify-content: space-between;

    &__list {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;

        &_item {
            display: inline-block;
            margin: 0 25px;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        &_link {
            display: block;
            text-decoration: none;
        }
    }


}


.main_logo {
    width: 100px;

    figure {
        padding: 0;
        margin: 0;
    }

    img {
        max-width: 100%;
    }
}


.site_content {
    margin-bottom: 100px;
    display: flex;
    position: relative;
    top: -50px;
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out 0.5s;
}

.site_content.active {
    top: 0;
    opacity: 1;
    visibility: visible;
}

.anna_brief {
    &__head {
        font-size: 100px;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 40px;
        margin-left: -13px;
    }

    &__body {
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 1.5px;
        width: 50%;
        position: relative;
        padding-left: 40px;

        &:before {
            content: "";
            width: 4px;
            height: 100%;
            background: #fff;
            position: absolute;
            left: 0;
            top: 0;
            background: #f280b6;
            /* Old browsers */
            background: -moz-linear-gradient(-45deg, #f280b6 7%, #f280b6 7%, #3e97c4 50%, #896bbc 89%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(-45deg, #f280b6 7%, #f280b6 7%, #3e97c4 50%, #896bbc 89%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(135deg, #f280b6 7%, #f280b6 7%, #3e97c4 50%, #896bbc 89%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f280b6', endColorstr='#896bbc', GradientType=1);
            /* IE6-9 fallback on horizontal gradient */



        }
    }
}


.home_social {
    position: relative;

    &__toggle {
        display: block;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background: #fff;
        text-align: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin-top: 77px;

        svg {
            fill: #000 !important;
            max-width: 50%;
            height: 100%;
            margin-left: -10px;
        }

        &:after {
            width: 100%;
            height: 100%;
            content: '';
            background: #fff;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;
            z-index: -1;
            /* top: 0; */
        }

        &:before {
            width: 106%;
            height: 106%;
            content: '';
            background: #f280b6;
            /* Old browsers */
            background: -moz-linear-gradient(-45deg, #f280b6 7%, #f280b6 7%, #3e97c4 50%, #896bbc 89%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(-45deg, #f280b6 7%, #f280b6 7%, #3e97c4 50%, #896bbc 89%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(135deg, #f280b6 7%, #f280b6 7%, #3e97c4 50%, #896bbc 89%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f280b6', endColorstr='#896bbc', GradientType=1);
            /* IE6-9 fallback on horizontal gradient */
            position: absolute;
            top: -3%;
            left: -3%;
            border-radius: 50%;
            z-index: -1;
            //width: 0;
            opacity: 0;
            transition: all ease-in-out 0.5s;
        }

        &.active {
            &:before {
                opacity: 1;
            }
        }
    }

    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        right: 100px;
        margin-top: 77px;

        &_item {}

        &_link {
            opacity: 0;
            visibility: hidden;
            display: block;
            transition: all ease-in-out 0.5s;

            svg {
                width: 40px;
                height: 40px;
                transition: all ease-in-out 0.5s;
            }

        }

        .home_social__list_item:nth-child(1) a {
            animation-name: social1;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
            animation-direction: reverse;
            animation-timing-function: ease-in;
        }

        .home_social__list_item:nth-child(2) a {
            animation-name: social2;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
            animation-direction: reverse;
            animation-timing-function: ease-in;
        }

        .home_social__list_item:nth-child(3) a {
            animation-name: social3;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
            animation-direction: reverse;
            animation-timing-function: ease-in;
        }

        &.active {
            .home_social__list_link {
                opacity: 1;
                visibility: visible;
            }

            .home_social__list_item:nth-child(1) a {
                animation-name: social1-2;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
                animation-direction: normal;
                animation-timing-function: ease-out;
            }

            .home_social__list_item:nth-child(2) a {
                animation-name: social2-2;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
                animation-direction: normal;
                animation-timing-function: ease-out;
            }

            .home_social__list_item:nth-child(3) a {
                animation-name: social3-2;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
                animation-direction: normal;
                animation-timing-function: ease-out;
            }

            a:hover {
                svg {
                    fill: #f280b6 !important;
                }
            }
        }
    }

}


@keyframes social1 {

    to {
        transform: translate(-70px, -50px);

    }
}

@keyframes social2 {

    to {
        transform: translate(-70px);
    }
}

@keyframes social3 {

    to {
        transform: translate(-70px, 50px);
    }
}

@keyframes social1-2 {

    to {
        transform: translate(-70px, -50px);

    }
}

@keyframes social2-2 {

    to {
        transform: translate(-70px);
    }
}

@keyframes social3-2 {

    to {
        transform: translate(-70px, 50px);
    }
}





.projects {
    display: none;
    position: relative;
    padding-left: 40px;
    margin-top: 40px;


    &:before {
        content: "";
        width: 2px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #af527e;
        background: -moz-linear-gradient(-45deg, #af527e 0%, #3e97c4 57%, #896bbc 100%);
        background: -webkit-linear-gradient(-45deg, #af527e 0%, #3e97c4 57%, #896bbc 100%);
        background: linear-gradient(135deg, #af527e 0%, #3e97c4 57%, #896bbc 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#af527e', endColorstr='#896bbc', GradientType=1);
        max-height: 0;
		animation-name: timeline;
		animation-duration: 3s;
		animation-delay: 0s;
		animation-fill-mode: forwards;
		animation-timing-function: ease-in-out;
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-flow: column wrap;

    }

    &__item {
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 40px;
        position: relative;
		opacity: 0;
		animation-name: projectList;
		animation-duration: 0.5s;
		animation-fill-mode: forwards;
		animation-timing-function: ease-in-out;
        &:last-child {
            margin-bottom: 0;
        }
		&:nth-child(2){
			animation-delay: 0.5s;
		}
		&:nth-child(3){
			animation-delay: 1s;
		}
		&:nth-child(4){
			animation-delay: 1.5s;
		}
		&:nth-child(5){
			animation-delay: 2s;
		}
        &:before {
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 50%;
            top: 0;
            left: -44px;
            position: absolute;
            background: #f280b6;
            z-index: 2;

        }

        &:last-child:after {
            content: "";
            display: block;
            position: absolute;
            width: 5px;
            height: 30rem;
            top: 0;
            left: -42px;
            background: #171717;
        }
    }

    &__info {
        flex: 1;

        &__date {
            margin-top: 0;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__com {}
    }

    &__content {
        flex: 6;
        line-height: 22px;
        padding: 0 15px;

        p {
            max-width: 800px;
        }


    }

}

@keyframes projectList {
	form{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
    
}
@keyframes timeline {
	form{
		max-height: 0;
	}
	to{
		max-height: 100%;
	}
    
}

//markup styles 

.itgm-code-block {
  opacity: 0.3;
}

.keyword {
  background-color: #6a6a6a;
  font-family: Consolas, Monaco, monospace !important;
  font-size: 12px;
  padding: 3px 5px;
  border-radius: 5px;
}


/* show all the line number */
li.L0, li.L1, li.L2, li.L3,li.L5, li.L6, li.L7, li.L8 {
  list-style-type: decimal !important;
}
code {
  font-family: Consolas, Monaco, monospace !important;
  font-weight: 100 !important;
  font-size: 12px;
}
pre { 
  line-height: 24px;
  margin: 0;
  padding: 0;
  border: none;
}
pre li {
  font-size: 12px;
  color: #808080;
}
pre .highlight {
  background-color: #87ceeb;
  padding: 7px;
  border-radius: 4px;
}
/* desert scheme ported from vim to google prettify */
pre.prettyprint { display: block; background-color: #333 }
pre .nocode { 
  background-color: white; 
  color: #f6876a; 
  display: block; 
  padding: 10px; 
  margin-right: 40px;
  white-space: normal;
  font-family: helvetica, sans-serif;
}
/* pre .nocode:before {display: none} */
pre .str, .keyword.str { color: #ffa0a0 } /* string  - pink */
pre .kwd, .keyword.kwd { 
  color: #f0e68c; 
/*   font-weight: bold; */
}
pre .com, .keyword.com { color: #87ceeb } /* comment - skyblue */
pre .typ, .keyword.typ { color: #98fb98 } /* type    - lightgreen */
pre .lit, .keyword.lit { color: #cd5c5c } /* literal - darkred */
pre .pun, .keyword.pun { color: #fff }    /* punctuation */
pre .pln, .keyword.pln { color: #fff }    /* plaintext */
pre .tag, .keyword.tag { color: #f0e68c; font-weight: bold } /* html/xml tag    - lightyellow */
pre .atn, .keyword.atn { color: #bdb76b; font-weight: bold } /* attribute name  - khaki */
pre .atv, .keyword.atv { color: #ffa0a0 } /* attribute value - pink */
pre .dec, .keyword.dec { color: #98fb98 } /* decimal         - lightgreen */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { background-color: #383838 !important }

@media print {
  pre.prettyprint { background-color: none }
  pre .str, code .str { color: #060 }
  pre .kwd, code .kwd { color: #006; font-weight: bold }
  pre .com, code .com { color: #600; font-style: italic }
  pre .typ, code .typ { color: #404; font-weight: bold }
  pre .lit, code .lit { color: #044 }
  pre .pun, code .pun { color: #440 }
  pre .pln, code .pln { color: #000 }
  pre .tag, code .tag { color: #006; font-weight: bold }
  pre .atn, code .atn { color: #404 }
  pre .atv, code .atv { color: #060 }
}
pre.prettyprint{
	border: 0 !important;
}
// markup styles end


.codeblock {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 50%;
}